@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?jvsbt4');
    src:
        url('fonts/icomoon.eot?jvsbt4#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?jvsbt4') format('truetype'),
        url('fonts/icomoon.woff?jvsbt4') format('woff'),
        url('fonts/icomoon.svg?jvsbt4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-hw_zhanghutongzhi::before {
    content: "\e96d";
}

.icon-hw_weixin2::before {
    content: "\e956";
}

.icon-hw_chakan::before {
    content: "\e955";
}

.icon-hw_shouye02::before {
    content: "\e96c";
}

.icon-hw_dailijia::before {
    content: "\e969";
}

.icon-hw_jiantou::before {
    content: "\e96a";
}

.icon-hw_VIPjia::before {
    content: "\e96b";
}

.icon-hw_ziti::before {
    content: "\e968";
}

.icon-hw_shouye1::before {
    content: "\e966";
}

.icon-hw_duihuanzhuanqu::before {
    content: "\e967";
}

.icon-hw_tanchuangguanbi::before {
    content: "\e965";
}

.icon-hw_gou::before {
    content: "\e964";
}

.icon-hw_choujiangjiangpin::before {
    content: "\e95b";
}

.icon-hw_dianhua02::before {
    content: "\e95c";
}

.icon-hw_gouwuche02::before {
    content: "\e95d";
}

.icon-hw_kefu04::before {
    content: "\e95e";
}

.icon-hw_shimingrenzheng::before {
    content: "\e95f";
}

.icon-hw_weijiejue::before {
    content: "\e960";
}

.icon-hw_xiaolian::before {
    content: "\e961";
}

.icon-hw_yijiejue::before {
    content: "\e962";
}

.icon-hw_yulan::before {
    content: "\e963";
}

.icon-hw_shouqizuijia::before {
    content: "\e959";
}

.icon-hw_yisheng::before {
    content: "\e95a";
}

.icon-hw_pintuan02::before {
    content: "\e957";
}

.icon-hw_bianji::before {
    content: "\e958";
}

.icon-hw_daojishi::before {
    content: "\e951";
}

.icon-hw_qiandai::before {
    content: "\e952";
}

.icon-hw_jianyi::before {
    content: "\e953";
}

.icon-hw_tuihuo::before {
    content: "\e954";
}

.icon-hw_keyongshouyi::before {
    content: "\e94f";
}

.icon-hw_paiyinhangka::before {
    content: "\e950";
}

.icon-hw_guanbi02::before {
    content: "\e94e";
}

.icon-hw_weixin::before {
    content: "\e94c";
}

.icon-hw_zhifubao::before {
    content: "\e94d";
}

.icon-hw_fenxiang03::before {
    content: "\e94a";
}

.icon-hw_gengduo::before {
    content: "\e94b";
}

.icon-hw_paihangbang::before {
    content: "\e949";
}

.icon-hw_changjianwenti::before {
    content: "\e941";
}

.icon-hw_defen::before {
    content: "\e942";
}

.icon-hw_fenxiang02::before {
    content: "\e943";
}

.icon-hw_guanyuwomen::before {
    content: "\e944";
}

.icon-hw_lianxiwomen::before {
    content: "\e945";
}

.icon-hw_shangjiantou::before {
    content: "\e946";
}

.icon-hw_shouhoufuwu::before {
    content: "\e947";
}

.icon-hw_xiajiantou::before {
    content: "\e948";
}

.icon-hw_jiaohuan01::before {
    content: "\e940";
}

.icon-hw_bangzhuzhongxin::before {
    content: "\e936";
}

.icon-hw_dizhiguanli::before {
    content: "\e937";
}

.icon-hw_kanjia::before {
    content: "\e938";
}

.icon-hw_kefu03::before {
    content: "\e939";
}

.icon-hw_pintuan::before {
    content: "\e93a";
}

.icon-hw_shezhi::before {
    content: "\e93b";
}

.icon-hw_shouyi::before {
    content: "\e93c";
}

.icon-hw_yaoqingma::before {
    content: "\e93d";
}

.icon-hw_yeji::before {
    content: "\e93e";
}

.icon-hw_zuji::before {
    content: "\e93f";
}

.icon-hw_bianji01::before {
    content: "\e903";
}

.icon-hw_biaoqian01::before {
    content: "\e904";
}

.icon-hw_duanxin01::before {
    content: "\e909";
}

.icon-hw_fenxiang01::before {
    content: "\e90a";
}

.icon-hw_fuwu01::before {
    content: "\e90c";
}

.icon-hw_fuwu02::before {
    content: "\e912";
}

.icon-hw_guanbi01::before {
    content: "\e91c";
}

.icon-hw_huangguan01::before {
    content: "\e91d";
}

.icon-hw_jiahao::before {
    content: "\e91e";
}

.icon-hw_jianhao::before {
    content: "\e91f";
}

.icon-hw_jiantou01::before {
    content: "\e920";
}

.icon-hw_kefu01::before {
    content: "\e921";
}

.icon-hw_kefu02::before {
    content: "\e922";
}

.icon-hw_pailie01::before {
    content: "\e923";
}

.icon-hw_pailie02::before {
    content: "\e924";
}

.icon-hw_qianbao01::before {
    content: "\e925";
}

.icon-hw_qianbi01::before {
    content: "\e926";
}

.icon-hw_shaixuan01::before {
    content: "\e927";
}

.icon-hw_shanchu01::before {
    content: "\e928";
}

.icon-hw_shequ01::before {
    content: "\e929";
}

.icon-hw_shoujihao01::before {
    content: "\e92a";
}

.icon-hw_sousuo01::before {
    content: "\e92b";
}

.icon-hw_weixin01::before {
    content: "\e92c";
}

.icon-hw_xiaoxi01::before {
    content: "\e92d";
}

.icon-hw_xiaoxi02::before {
    content: "\e92e";
}

.icon-hw_xinfeng01::before {
    content: "\e92f";
}

.icon-hw_xingxing01::before {
    content: "\e930";
}

.icon-hw_xingxing02::before {
    content: "\e931";
}

.icon-hw_xingxing03::before {
    content: "\e932";
}

.icon-hw_yangbiao01::before {
    content: "\e933";
}

.icon-hw_yuandian01::before {
    content: "\e934";
}

.icon-hw_zuanshi01::before {
    content: "\e935";
}

.icon-hw_fenlei::before {
    content: "\e900";
}

.icon-hw_fuwupingjia::before {
    content: "\e901";
}

.icon-hw_gouwuche::before {
    content: "\e902";
}

.icon-hw_guanbi::before {
    content: "\e905";
}

.icon-hw_hanbaoshequ::before {
    content: "\e906";
}

.icon-hw_hanweichengpin::before {
    content: "\e907";
}

.icon-hw_huiyuanquanyi::before {
    content: "\e908";
}

.icon-hw_mianyunfei::before {
    content: "\e90b";
}

.icon-hw_pinpaijingxuan::before {
    content: "\e90d";
}

.icon-hw_querendingdandizhi::before {
    content: "\e90e";
}

.icon-hw_shouhuoxinxi::before {
    content: "\e90f";
}

.icon-hw_shouye::before {
    content: "\e910";
}

.icon-hw_shouyefanhui::before {
    content: "\e911";
}

.icon-hw_tianjiayinhangka::before {
    content: "\e913";
}

.icon-hw_wode::before {
    content: "\e914";
}

.icon-hw_wuliudanhao::before {
    content: "\e915";
}

.icon-hw_wuliupingjia::before {
    content: "\e916";
}

.icon-hw_xuanze02::before {
    content: "\e917";
}

.icon-hw_xuanze01::before {
    content: "\e918";
}

.icon-hw_xuanzhong::before {
    content: "\e919";
}

.icon-hw_youjiantou::before {
    content: "\e91a";
}

.icon-hw_youxuanshangjia::before {
    content: "\e91b";
}
